extends ../layout/layout.pug
block vars
	- var title = 'Правила акции';
block header
	include ../includes/header-rules.pug
block content
	include ../includes/content-rules.pug
block footer
	include ../includes/footer.pug