main.main
	.container 
		//- .add-sale
		//- 	.add-sale__inner 
		//- 		.add-sale__left 
		//- 			.add-sale__title Добавить покупку
		//- 			.check-status
		//- 				.check-load.active Чек успешно зарегистрирован
		//- 				.check-error.active Чек уже зарегистрирован
		//- 			form(action="")
		//- 				label.input-file
		//- 					input(type="file" name="file")
		//- 					span.load-img
		//- 					span.success-load.active Изображение загружено
		//- 					span.error-load.active Ошибка загрузки
		//- 				+custom-checkbox('Согласен с правилами участия в акции') 
		//- 				input.button.button-reg(type="submit" value="Сохранить" disabled)
		//- 		.add-sale__right
		//- 			img(src="./img/sale-img.png" alt="")
		.add-sale
			.add-sale__inner 
				.add-sale__left 
					.add-sale__title Добавить покупку
					form(action="")
						label.input-file
							input(type="file" name="file")
							span.load-img
						+custom-checkbox('Согласен с правилами участия в акции') 
						input.button.button-reg(type="submit" value="Сохранить" disabled)
				.add-sale__right
					img(src="./img/sale-img.png" alt="")
		
.sales
	.container 
		.sales__title 
			span Ваши покупки
		.sales__items
			.sales__item 
				.sales__number #001
				.sales__name Зарегистрировано упаковок: 5
				.sales__bill Чек № 123456789-11
				.sales__date Дата: 10-07-2024
			.sales__item 
				.sales__number #002
				.sales__name Зарегистрировано упаковок: 2
				.sales__bill Чек № 123456789-11
				.sales__date Дата: 10-07-2024
			.sales__item 
				.sales__number #003
				.sales__name Зарегистрировано упаковок: 2
				.sales__bill Чек № 123456789-11
				.sales__date Дата: 10-07-2024
			.sales__item 
				.sales__number #004
				.sales__name Зарегистрировано упаковок: 2
				.sales__bill Чек № 123456789-11
				.sales__date Дата: 10-07-2024
			.sales__item 
				.sales__number #005
				.sales__name Зарегистрировано упаковок: 2
				.sales__bill Чек № 123456789-11
				.sales__date Дата: 10-07-2024
		.pagination 
			ul 
				li 
					a(href="") <
				li 
					span 1
				li 
					a(href="") 2
				li 
					a(href="") 3
				li
					a(href="") ...
				li
					a(href="") >