.section-main {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7.4rem;
  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 5rem;
    gap: 3.7rem;
  }
}
.h1 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
  @media (max-width: $breakpoint-mobile) {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
.section-text {
  margin-bottom: 10rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  padding: 5rem;
  border-radius: 2.5rem;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: justify;
  min-height: 65rem;
  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 5rem;
    padding: 2rem;
  }
  .h1 {
    text-align: center;
  }
  ol {
    padding-left: 2rem;
    li {
      margin-bottom: 0.5rem;
    }
    ol {
      padding-left: 2rem;
      list-style: lower-alpha;
    }
  }
}

.section-registration {
  margin-bottom: 10rem;
  min-height: 65rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  align-items: flex-start;
  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 5rem;
  }
}
.registration {
  width: 28rem;
  padding-top: 3.5rem;
  padding-bottom: 4.7rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  text-align: center;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  border-radius: 2rem;
  &__title {
    font-weight: 700;
    font-size: 2rem;
    color: $color-accent;
    margin-bottom: 2.8rem;
  }
  &__text {
    font-weight: 500;
    font-size: 1.2rem;
    color: $color-accent;
    margin-bottom: 1.2rem;
  }

  .input-code,
  .input-tel {
    width: 100%;
    height: 4.5rem;
    background: #fff;
    text-align: center;
    border: 0;
    border-bottom: 2px solid #9c9c9c;
    margin-bottom: 3.6rem;
    font-weight: 500;
    font-size: 1.8rem;
    color: #000000;
    &::placeholder {
      color: #9c9c9c;
    }
  }
}
.sales {
  background: #fff;
  padding-top: 5.2rem;
  @media (max-width: $breakpoint-mobile) {
    padding-top: 3rem;
  }
  &__title {
    font-weight: 700;
    font-size: 1.8rem;
    padding-bottom: 1.3rem;
    margin-bottom: 4.4rem;
    border-bottom: 2px solid #9c9c9c;
    span {
      max-width: 77rem;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    font-weight: 500;
    font-size: 1.6rem;
    max-width: 77rem;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: $breakpoint-mobile) {
      gap: 1.5rem;
    }
  }
  &__item {
    display: grid;
    gap: 3.8rem;
    grid-template-columns: 5rem auto 18rem 14rem;
    align-items: center;
    @media (max-width: $breakpoint-mobile) {
      grid-template-columns: 1fr;
      gap: 1rem;
      &:not(:last-child) {
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #9c9c9c;
      }
    }
  }
  &__number {
    font-weight: 500;
    font-size: 1.8rem;
    color: #9c9c9c;
  }
}

.add-sale {
  background: #fff;
  border: 2px solid #000;
  border-radius: 3rem;
  overflow: hidden;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5.2rem;
  &__inner {
    display: flex;
    justify-content: space-between;
    @media (max-width: $breakpoint-mobile) {
      flex-direction: column;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 3.5rem;
  }
  &__left {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    padding-left: 5.4rem;
    @media (max-width: $breakpoint-mobile) {
      padding: 2rem;
    }
  }
  &__right {
    width: 49.4rem;
    position: relative;
    background: url(../img/bg-svg.svg) top left no-repeat;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    padding-right: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-size: cover;
    @media (max-width: $breakpoint-mobile) {
      width: 100%;
      aspect-ratio: 1/1;
      transform: rotate(90deg);
      padding: 2rem;
    }
    img {
      display: block;
      @media (max-width: $breakpoint-mobile) {
        transform: rotate(-90deg);
      }
    }
  }
}
